* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url("assets/hero_bg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 60vh;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.logo {
  color: #da3940;
  font-size: 2rem;
  font-weight: 550;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
.hero h1 {
  font-size: 4.5rem;
  margin-top: 0rem;
}
.hero p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem;
}
.vpn-btn {
  background-color: green;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.2rem;
}
.hero .money {
  font-size: 1rem;
  margin-top: 1rem;
  color: black;
}

header img {
  height: 13.1rem;
  position: absolute;
  top: auto;
  right: 35rem;
}


/* section */
section {
  padding:20px;
}
.card {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.feature-img img {
  height: 16rem;
}

.feature-desc h1 {
  font-size: 2rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;

}
.feature-desc p {
  line-height: 1rem;
  margin-bottom: 1.2rem;
}
.btn {
  background-color: green;
  width: 11rem;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.apps i {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.link {
  color: green;
  display: inline-block;
  margin-bottom: 1rem;

}

.security {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 6rem;
  line-height: 1.5rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.protection img {
  height: 8rem;
}

.adv-links {
  text-align: center;
  margin-bottom: 4rem;
}

footer {
   height: 400px;
   width: 100%;
  background-image: url(assets/map.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.map-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 25rem;
  gap: 2rem;
}

footer a {
  margin-top: 6rem;
}