* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #1f2029;
  color: white; */
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}
:root {
  --nav-height: 65px;
  --anchor-offset: calc(var(--nav-height) + 20px);
}
#hero,
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: var(--anchor-offset);
}

.bg {
  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
}
.navbar {
  background-color: #1b202d;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}
.nav-logo a {
  color: rgba(45, 166, 178, 1);
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-menu li {
  display: flex;
}
.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 550;
  font-size: 1rem;
}

section {
  scroll-margin-top: 60px;
}

.nav-menu a:hover {
  color: rgba(45, 166, 178, 1);
  transition: 0.3s ease;
}

/* hero */

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.hero-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.hero-content h1 {
  background: linear-gradient(135deg, #668cac, rgb(45, 166, 178));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-content h2 {
  color: rgb(45, 166, 178);
  /* font-size: 1.2rem; */
  /* text-align: center;
  max-width: 600px; */
  margin-bottom: 2rem;
}

.hero-content p {
  color: white;
  /* font-size: 1.2rem; */
  text-align: center;
  /* max-width: 600px; */
  margin-bottom: 2.5rem;
}
.hero-btn {
  display: flex;
  gap: 4rem;
}
.hero-btn a {
  text-decoration: none;
  color: black;
  background: rgb(45, 166, 178);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s ease;
}

/* about section */

.about {
  background-color: #2d3748;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--anchor-offset);
}

.container h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  padding-top: 0rem;
  margin-bottom: 2rem;
}

.about-left img {
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
}
.about-content {
  display: flex;
  text-align: justify;
  gap: 4rem;
  padding: 2rem 10rem;
}

.about-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a0aec0;
  gap: 1rem;

  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.about-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.about-skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.about-skill p {
  min-width: 130px;
  font-size: 20px;
  font-weight: 500;
  color: #a0aec0;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(135deg, #668cac, rgb(45, 166, 178));
}

.about-achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 10rem;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.about-achievement h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(135deg, #668cac, rgb(45, 166, 178));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 18px;
  font-weight: 500;
  color: #a0aec0;
}

.about-achievements hr {
  outline: none;
  border: none;
  width: 2px;
  height: 70px;
  border-radius: 50px;
  background: linear-gradient(135deg, #668cac, rgb(45, 166, 178));
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

/* Skills Section */

.skills {
  background-color: #1b202d;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: var(--anchor-offset);
}
.skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 2rem;
}
.skill-card {
  background: #2d3748;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.skill-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.skill-card h3 {
  color: white;
  margin-bottom: 0.5rem;
}
.skill-card p {
  color: #a0aec0;
  font-size: 0.9rem;
}

/* project section */

.projects {
  background-color: #2d3748;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: var(--anchor-offset);
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 1rem;
}
.project-card {
  background: #1a202c;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
}
.project-img {
  height: 240px;
}
.project-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  /* object-fit: cover; */
  /* margin-bottom: 1rem; */
}
.project-content h3 {
  color: white;
  margin: 1rem 0 0.5rem 0;
  padding: 0 1rem;
}
.project-content p {
  color: #a0aec0;
  margin: 1rem 0 0.5rem 0;
  padding: 0 1rem;
  text-align: justify;
}
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.tech-tag {
  background: rgba(45, 166, 178, 1);
  color: black;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.project-features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}
.project-features li {
  color: #a0aec0;
  list-style: none;
  font-size: 1rem;
}
.project-features li::before {
  content: "✓";
  /* position: absolute; */
  /* left: 0; */
  color: rgba(45, 166, 178, 1);
  font-weight: 600;
  margin-right: 0.5rem;
}
.project-links {
  display: flex;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-evenly;
}
.project-links a {
  text-decoration: none;
  color: rgb(45, 166, 178);
  /* background: rgb(45, 166, 178); */
  border: 1px solid rgb(45, 166, 178);
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  font-weight: 400;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}
.project-links a:hover {
  color: #2d3748;
  background: rgb(45, 166, 178);
}

/* contact section */
.contact {
  background-color: #1a202c;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: var(--anchor-offset);
}
.contact-section {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 6rem;
  padding: 2rem;
  max-width: 1200px; /* Add container max-width */
  width: 100%;
}

.contact-left {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  
}
.contact-left h1 {
  background: linear-gradient(135deg, #668cac, rgb(45, 166, 178));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.contact-left p {
  color: #a0aec0;
  font-size: 1rem;
  line-height: 25px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.contact-detail i {
  font-size: 1.4rem;
  color: rgba(45, 166, 178, 1);
  
}

.contact-left,
.contact-right {
  flex: 1;
  min-width: 0;
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #2D3748;
  padding: 2rem;
  border-radius: 16px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group label {
  color: #a0aec0;
  font-size: 1rem;
}
.form-control {
  width: 100%;
  padding: 0.8rem;
  background-color: #1a202c;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.form-group textarea {
  resize: none;
  overflow: auto;
}
.message-btn {
  background: rgba(45, 166, 178, 1);
  color: black;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.35s ease-in-out;
}

.message-btn:hover {
  transform: scale(1.05);
}


/* fotter section */
.footer{
  background-color: #2D3748;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 0 auto; /* Center the container */
}
.media {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.media i {
  font-size: 1.5rem;
  color: #a0aec0;
  transition: 0.35s ease-in-out;
}
.footer-terms {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  color: #a0aec0;
}
.footer-rights {
  color: #a0aec0;
}

.media i:hover {
  color: rgba(45, 166, 178, 1);
  transform: scale(1.2);
  cursor: pointer;
}